JAR_PATH:/home/chintan/Downloads/SOP/FinalProjectStructure/Test/dist/Test.jar
CALLGRAPH_LOCATION:/home/chintan/Downloads/SOP/FinalProjectStructure/JavaCheckpointingTool/libs/java-callgraph/target/javacg-0.1-SNAPSHOT-static.jar
OUTPUT_LOCATION:/home/chintan/Downloads/SOP/FinalProjectStructure/JavaCheckpointingTool/output
CHECKPOINT_COMMAND:/home/chintan/Downloads/SOP/FinalProjectStructure/JavaCheckpointingTool/libs/dmtcp/test/plugin/chkptplugin %s
CHECKPOINT_CODE:try { System.out.println(\"I want a CHKPT after \"); String command = \"%s\"; Process process = Runtime.getRuntime().exec(command);process.waitFor();                         } catch (java.io.IOException ex) {                             System.out.println(\"Glitch\");                         }                  ;
