JAR_PATH:/home/chintan/Downloads/SOP/FinalProjectStructure/Test/dist/Test.jar
CALLGRAPH_LOCATION:/home/chintan/Downloads/SOP/FinalProjectStructure/JavaCheckpointingTool/libs/java-callgraph/target/javacg-0.1-SNAPSHOT-static.jar
OUTPUT_LOCATION:/home/chintan/Downloads/SOP/FinalProjectStructure/JavaCheckpointingTool/output
